#div_header{
    height: 100px;
}

.mr-150{
    margin-right: 150px;
}

.mr-80{
    margin-right: 80px;
}

.mr-70{
    margin-right: 70px;
}

.ml-30{
    margin-left: 70px;
}

nav {
    font-family: "CookieRun-Regular", sans-serif !important;
}

.menubar {
    font-size: 20px;
}

.loginMenubar{
    font-size: 15px;
}

#span_parent{
    position: relative;
}

#span_won{
    color: darkorange;
    position: relative;
}

#coin_purse_icon{
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -30px;
    top: 10px;
}

#amt{
    float: left;
    left: 0px;
    position: absolute;
}