.order-detail {
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.order-info {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.order-info h4 {
    margin-bottom: 10px;
}

.order-info p {
    margin: 5px 0;
}