.order-detail {
    /* font-family: "CookieRun-Regular", sans-serif !important; */
    margin-top: 150px;
    margin-bottom: 150px;
}

#content_title {
    color: #333;
    font-weight: bold;
}

.product_info, .user-info, .point_info {
    font-family: 'Pretendard-Regular';
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    background-color: #FFFFFF; /* 하얀 배경색 */
}

#product_order_img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* 이미지 크기 고정 */
    border-radius: 8px;
}

.user-info {
    color: #333;
}

.point_info {
    /* background-color: #FFD97A; */
    color: #333;
    font-weight: bold;
}

.btn-outline-dark {
    /* font-family: "CookieRun-Regular", sans-serif; */
    font-family: 'Pretendard-Regular';
    border-radius: 20px;
}

/* Custom button 색상 */
.btn-custom {
    background-color: #FFD97A;
    border-color: #FFD97A;
    color: #333;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #FFC847;
    border-color: #FFC847;
    color: #333;
}

#order-modal{
    /* font-family: "CookieRun-Regular", sans-serif; */
    font-family: 'Pretendard-Regular';
}

#order-modal-point .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100%;        
}