.product_detail{
    margin-top: 150px;
    margin-bottom: 150px;
}

#product_img{
    width: 80%;
    height: 500px;
}
.product_info > #product_title{
    font-family: "CookieRun-Regular", sans-serif !important;
    font-weight: 500;
}

.product_info  > #product_price_state > #product_price{
    font-family: "CookieRun-Regular", sans-serif !important;
    font-weight: 700;
    font-size: 70px;
}