.footer {
  background-color: #ffecbe;
  display: flex; /* Flexbox 사용 */
  justify-content: space-between;
  align-items: flex-start; /* 상단 정렬 */
  padding: 40px;
}

.footer_left {
  text-align: left;
  font-family: "CookieRun-Regular", sans-serif !important;
  font-weight: bold;
  font-size: 15px;
  color: #494444;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  padding-left: 80px;
}

.footer_right {
  padding-top: 50px;
  padding-right: 80px;
  text-align: left;
  font-family: "CookieRun-Regular", sans-serif !important;
  font-weight: bold;
  font-size: 15px;
  color: #494444;
}

/* .footer_table {
  border-spacing: 5px;
} */

.footer_table {
  border-collapse: separate; /* 셀 간의 여백을 허용하기 위해 설정 */
}

.footer_table td {
  padding: 3px; /* 셀 내부 여백 */
  margin-right: 20px; /* 오른쪽 마진 추가하여 간격 조정 */
}

.footer_table tr td:last-child {
  margin-right: 0; /* 마지막 셀의 오른쪽 마진 제거 */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: orange;
}
