#board_content{
    margin-top: 150px;
    margin-bottom: 150px;
}

.board-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    margin-top: 20px;
    /* font-family: "CookieRun-Regular", sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

.board-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.board-table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.board-table thead {
    background-color: #f8f9fa;
}

.board-table th,
.board-table td {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: #333;
}

.board-table tbody tr:hover {
    background-color: #f1f3f5;
}

.notice-row {
    background-color: #FFF4D1;
    font-weight: bold;
}

.notice-row:hover {
    background-color: #FFE6A5;
}

.add-post-btn {
    background-color: #FFC847;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: "CookieRun-Regular", sans-serif;
}

.add-post-btn:hover {
    background-color: #FFDB7D;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item.active .page-link {
    background-color: #FFC847;
    border-color: #FFC847;
}

.pagination .page-link {
    color: #333;
}

/* New Tag Styling */
.new-tag {
    background-color: #FF5733;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 8px;
    display: inline-block;
}


.category-공지 {
    color: blue; /* Change to desired color for 공지 */
    font-weight: bold;
}

.category-신고 {
    color: red; /* Change to desired color for 오류 */
    font-weight: bold;
}

.category-기타 {
    color: black; /* Change to desired color for 기타 */
    font-weight: bold;
}

.category-문의 {
    color: green; /* Change to desired color for 문의 */
    font-weight: bold;
}

