.row .comment {
  font-size: 13px;
}

.board-reply-head {
  font-family: 'Pretendard-Regular';
  padding-left: 20px;
}
.board-reply-body {
  font-family: 'Pretendard-Regular';
  padding-left: 20px;
}
#newComment {
  font-size: 14px;
}

.board-submit-btn {
  font-family: 'Pretendard-Regular';
  font-size: 12px;
  color: black;
  background-color: #ffecbe;
  border: none;

  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 부드러운 배경색 변화 효과 */
}
.board-submit-btn:hover {
  background-color: #ffdb7d;
}
