.admin-member-h2 {
  text-align: center;
  margin: 1rem;
}

.admin-member-member-list {
  padding: 1rem;
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.admin-member-search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.admin-member-search-container select,
.admin-member-search-container input {
  /* padding: 10px; */
  padding-left: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-member-member-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-member-member-row {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  border-bottom: 1px solid #ddd;
}

.admin-member-header {
  background-color: #ffffff;
  font-weight: bold;
}

.admin-member-column {
  flex: 1; /* 각 열이 동일한 너비를 가지도록 설정 */
  text-align: center;
}

.admin-member-clickable {
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-member-clickable:hover {
  background-color: #eaeaea; /* 마우스 오버 시 배경색 변화 */
}

.admin-member-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-member-pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.admin-member-pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.admin-member-pagination button:disabled {
  background-color: #e9e9e9;
  color: #ccc;
  cursor: not-allowed;
}

/* 모달 스타일 */
.admin-member-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-member-modal-content {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* 모달 너비 설정 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-member-modal-header {
  display: flex;
  justify-content: space-between;
}

.admin-member-modal-header h3 {
  margin: 0;
}

.admin-member-modal-close {
  cursor: pointer;
  color: #007bff;
}

.admin-member-search-button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  padding: 9px 15px;
}

.admin-member-search-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.admin-member-modal-button-group {
  text-align: center;
}

.admin-member-modal-action-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: #28a745;
  color: white;
}
