.admin-member-member-list {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-member-search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.admin-member-search-container select,
.admin-member-search-container input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-member-member-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-member-member-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
}

.admin-member-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.admin-member-column {
  flex: 1; /* 각 열이 동일한 너비를 가지도록 설정 */
  text-align: center;
}

.admin-member-clickable {
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-member-clickable:hover {
  background-color: #eaeaea; /* 마우스 오버 시 배경색 변화 */
}

.admin-member-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.admin-member-pagination button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.admin-member-pagination button:hover {
  background-color: #0056b3; /* 버튼 호버 색상 변화 */
}

.admin-member-pagination button:disabled {
  background-color: #ccc; /* 비활성화된 버튼 색상 */
  cursor: not-allowed; /* 비활성화된 버튼 커서 변경 */
}

/* 모달 스타일 */
.admin-member-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-member-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* 모달 너비 설정 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-member-modal-header {
  display: flex;
  justify-content: space-between;
}

.admin-member-modal-header h3 {
  margin: 0;
}

.admin-member-modal-close {
  cursor: pointer;
  color: #007bff;
}
