.admin-sr-button-container {
  margin-top: 10px;
}

.admin-sr-action-button {
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-sr-action-button:hover {
  background-color: #0056b3;
}

.admin-sr-sales-request-column {
  display: flex;
  background-color: rgb(202, 202, 202);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-sr-sales-request-container {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.admin-sr-sales-request-header {
  display: flex;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background-color: #eaeaea;
}

.admin-sr-sales-request-item {
  border: 1px solid #f1f1f1;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-sr-sales-request-content {
  padding: 10px;
  
}

.admin-sr-button-container {
  margin-top: 10px;
}

.admin-sr-action-button {
  margin-right: 10px;
}

.admin-sr-column {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  
}

.admin-sr-column.admin-sr-id {  flex: 1;}

.admin-sr-column.admin-sr-category {  flex: 2;}

.admin-sr-column.admin-sr-title {  flex: 12;}

.admin-sr-column.admin-sr-nickname {  flex: 2;}

.admin-sr-column.admin-sr-date {  flex: 4;}