.admin-sr-title {
  text-align: center;
}

.admin-sr-button-container {
  margin-top: 10px;
  text-align: center;
}

.admin-sr-action-button-no {
  padding: 8px 104px;
  margin: 0.5rem;
  background-color: rgb(151, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.admin-sr-action-button-yes {
  padding: 8px 104px;
  margin: 0.5rem;
  background-color: rgb(33, 95, 33);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.admin-sr-action-button-yes:hover {
  background-color: green;
}

.admin-sr-action-button-no:hover {
  background-color: red;
}

.admin-sr-sales-request-column {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.admin-sr-sales-request-container {
  padding: 1rem;
  margin: 1rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.admin-sr-sales-request-header {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.admin-sr-sales-request-item {
  border: none;
  margin-top: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* border-bottom: 1px solid #ddd; */
}

.admin-sr-column {
  padding: 0.5rem;
  text-align: center;
}

.admin-sr-column.admin-sr-id {
  flex: 1;
}

.admin-sr-column.admin-sr-category {
  flex: 2;
}

.admin-sr-column.admin-sr-title {
  flex: 12;
}

.admin-sr-column.admin-sr-nickname {
  flex: 2;
}

.admin-sr-column.admin-sr-date {
  flex: 4;
}

.admin-sr-sales-request-content {
  padding: 1rem;
}

.admin-sr-button-container {
  text-align: center;
}

.admin-sr-textarea-container {
  text-align: center;
}

.admin-sr-textarea {
  padding: 0.5rem;
  width: 500px;
  min-height: 100px; /* 기본 높이 설정 */
  resize: none; /* 크기 조정 비활성화 */
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  overflow-y: hidden; /* 스크롤바 숨김 */
}

.admin-sr-textarea:focus {
  border-color: black; /* 포커스 시 테두리 색상 변경 */
  box-shadow: 0 0 5px black; /* 포커스 시 그림자 효과 */
  outline: none; /* 포커스 아웃라인 제거 */
}

.admin-sr-error-message-container {
  text-align: center;
}
.admin-sr-error-message {
  color: red;
}
