.admin-buy-request {
  font-family: 'Pretendard-Regular';
}

.admin-buy-request h2 {
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  font-family: 'Paperlogy-4Regular';
}

.admin-buy-request-list {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem;
}

.admin-buy-request-header,
.admin-buy-request-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.admin-buy-request-header {
  font-weight: bold;
  text-align: center;
}

.admin-buy-request-header span:nth-child(1),
.admin-buy-request-row span:nth-child(1) {
  flex: 1;
} /* 구매ID */
.admin-buy-request-header span:nth-child(2),
.admin-buy-request-row span:nth-child(2) {
  flex: 1;
} /* 물품ID */
.admin-buy-request-header span:nth-child(3),
.admin-buy-request-row span:nth-child(3) {
  flex: 2;
} /* 구매상태 */
.admin-buy-request-header span:nth-child(4),
.admin-buy-request-row span:nth-child(4) {
  flex: 3;
} /* 구매신청일 */
.admin-buy-request-header span:nth-child(5),
.admin-buy-request-row span:nth-child(5) {
  flex: 3;
} /* 배송일 */
.admin-buy-request-header span:nth-child(6),
.admin-buy-request-row span:nth-child(6) {
  flex: 3;
} /* 구매자 이메일 */
.admin-buy-request-header span:nth-child(7),
.admin-buy-request-row span:nth-child(7) {
  flex: 3;
} /* 판매자 이메일 */
.admin-buy-request-header span:nth-child(8),
.admin-buy-request-row span:nth-child(8) {
  flex: 3;
} /* 운송장 번호 */

.admin-buy-request-pagination {
  font-family: 'Pretendard-Regular';
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-buy-request-pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-buy-request-pagination button:hover {
  background-color: wheat;
}

.admin-buy-request-pagination button:disabled {
  cursor: default;
  background-color: #ccc;
}

.admin-buy-request-pagination button.active {
  background-color: #ffc847;
  border: none;
}
.admin-buy-request-search-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.admin-buy-request-search-container input {
  padding: 8px;
  margin-right: 10px;
}

.admin-buy-request-search-container button {
  background-color: #ffc847;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  padding: 9px 15px;
  font-weight: bold;
}

.admin-buy-request-search-container button:hover {
  background-color: wheat;
}

.admin-buy-request-search-container select,
.admin-buy-request-search-container input[type='text'] {
  padding: 8px;
  margin-right: 10px;
}

.admin-buy-request-search-container button {
  padding: 8px 12px;
  cursor: pointer;
}

.admin-buy-request-search-container select {
  width: 150px; /* 너비를 300픽셀로 설정 */
  height: 40px; /* 높이를 40픽셀로 설정 */
  padding: 8px; /* 내부 여백을 8픽셀로 설정 */
  border: 1px solid #ccc; /* 테두리 색상 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  font-size: 16px; /* 글자 크기 설정 */
}

.admin-buy-request-search-container input[type='text'] {
  width: 300px; /* 너비를 300픽셀로 설정 */
  height: 40px; /* 높이를 40픽셀로 설정 */
  padding: 8px; /* 내부 여백을 8픽셀로 설정 */
  border: 1px solid #ccc; /* 테두리 색상 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  font-size: 16px; /* 글자 크기 설정 */
}

.admin-buy-request-no-results {
  text-align: center;
  margin: 3rem;
  color: #888;
}
