/* MainComponent */

#div_endOfHeader{
    width: 100%;
    height: 160px;
    /* background-color: #FFEAB7; */
}

#div_bgBanner {
  width: 100%;
  height: 430px;
  /* background-color: #ffeab7; */
  background-image: url('../assets/images/main/banner/banner_teddy_trans.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#img_carousel{
    margin-top: 15px;
}

#div_endOfBanner {
  width: 100%;
  height: 300px;
  background-color: white;
}

/* Banner Component */

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-item {
  text-align: center;
}

#img_carousel {
  width: 60%;
  height: 400px;
}
