#div_endOfHeader{
    width: 100%;
    height: 30px;
    background-color: #FFEAB7;
}

#div_bgBanner{
    width: 100%;
    height: 380px;
    background-color: #FFEAB7;
    position: relative;
}

#div_endOfBanner{
    width: 100%;
    height: 300px;
    background-color: white;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item {
    text-align: center;
}