/* MainComponent */

#div_headerHeight {
  width: 100%;
  height: 100px;
}

#div_bgBanner {
  width: 100%;
  height: 430px;
  background-image: url('../assets/images/main/banner/banner_teddy_trans.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#img_carousel {
  margin-top: 15px;
}

#div_spacing {
  width: 100%;
  height: 100px;
}

#div_endOfMainBody {
  width: 100%;
  height: 150px;
  background-color: white;
}

/* Banner Component */

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-item {
  text-align: center;
}

#img_carousel {
  width: 60%;
  height: 400px;
}

/* CategoryIconsComponent */

#div_categoryMarginTop {
  width: 100%;
  height: 50px;
}

#div_iconCol {
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_nameCol {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
}

#div_allIcons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img_categoryIcons {
  width: 80px;
  /* height: 110px; */
}

#div_categoryName {
  height: 100px;
}

#div_nameTxt {
  /* font-family: 'CookieRun-Regular', sans-serif !important; */
 font-family: 'Paperlogy-4Regular';
  font-size: 20px;
}

/* AllProductsComponent */

#div_allTitle {
  /* font-family: 'CookieRun-Regular', sans-serif !important; */
  font-family: 'Paperlogy-4Regular';
  font-size: 30px;
  /* margin-left: 110px; */
}

#img_product {
  width: 300px;
  height: 250px;
  border-radius: 5%;
  margin-top: 30px;
}

#div_proNameTxt {
  /* font-family: 'CookieRun-Regular', sans-serif !important; */
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  /* margin-top: 20px; */
}

#div_proPriceTxt {
  /* font-family: 'CookieRun-Regular', sans-serif !important; */
  font-family: 'Pretendard-Regular';
  font-size: 20px;
}

#div_proState {
  margin-top: 10px;
  margin-bottom: 10px;
}

.proStateBadge {
  margin-right: 10px;
  width: 100px;
}

/* AdComponent */

.section_ad {
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height: 400px;
}
#ad_img {
  width: 65%;
  height: 300px;
  margin: auto;
}

/* 이후에 추가 */
/* 카테고리 아이콘에 마우스 오버 효과 */
#img_categoryIcons {
  width: 80%; /* 아이콘 크기 조정 */
  transition: transform 0.2s ease-in-out;
}

#img_categoryIcons:hover {
  cursor: pointer;
  transform: scale(1.07); 
}

/* 카테고리 이름에 마우스 오버 효과 */
#div_nameTxt {
  display: inline;
  font-size: 0.9rem;
  color: #333;
  transition: color 0.2s ease, font-weight 0.3s ease;
}

#div_nameTxt:hover {
  cursor: pointer;
  color: #f5af00; /* 텍스트 색상 변화 */
  /* font-weight: bold; */
}
