/* AdminSidebar.css */

.admin-sidebar {
  width: 250px; /* 사이드바 너비 */
  background: #fffbdf; /* 사이드바 색상 */
  color: #d27a00; /* 글자색 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 나열 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* 사이드바 그림자 */
  position: fixed; /* 고정 위치 */
  height: 120vh; /* 전체 화면 높이 */
  z-index: 1000; /* 다른 요소들보다 위에 표시 */
}

.admin-sidebar h2 {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.admin-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar ul li {
  flex: 1; /* 각 메뉴 항목이 공간을 가득 차게 함 */
  margin: 0.5rem 0;
}

.admin-sidebar nav a {
  display: block; /* 링크가 블록 요소로 설정 */
  color: #d27a00; /* 메뉴 링크 글자색 */
  text-decoration: none;
  padding: 0.5rem; /* 패딩 추가 */
}

.admin-sidebar a {
  font-size: 20px;
  font-weight: bold;
}

.admin-sidebar nav a:hover {
  color: #ffd700; /* 호버 시 글자색 변경 */
  text-decoration: none; /* 호버 시 텍스트 밑줄 */
}

.admin-sidebar nav a.active {
  background: #ffcb6a; /* 선택된 메뉴 항목 색상 */
  color: #d27a00; /* 텍스트 색상 */
}
.sub-menu a.active {
  background: #ffcb6a; /* 선택된 서브메뉴 항목 색상 */
  color: #d27a00; /* 텍스트 색상 */
}

.sub-menu {
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding-left: 1rem; /* 왼쪽 패딩 추가 */
  max-height: 0; /* 초기 높이 0 */
  overflow: hidden; /* 내용이 넘치지 않도록 숨김 */
  opacity: 0; /* 투명하게 시작 */
  transition: max-height 0.3s ease, opacity 0.3s ease; /* 높이와 투명도에 대한 애니메이션 */
}

/* 서브 메뉴가 열렸을 때 */
.sub-menu.open {
  max-height: 200px; /* 최대 높이로 설정 (필요에 따라 조정 가능) */
  opacity: 1; /* 완전히 보이도록 */
}

.sub-menu li {
  margin: 0.25rem 0; /* 항목 간의 여백을 줄임 */
}

.sub-menu a {
  color: #666; /* 서브 메뉴 링크 색상 */
  font-size: 16px;
  font-weight: 400;
  margin-left: 1rem;
}

.sub-menu a:hover {
  color: #d27a00; /* 호버 시 색상 변경 */
}

.admin-main-title {
  font-size: 25px;
}
