.admin-il-h2 {
  text-align: center;
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.admin-il-inquiry-list-container {
  padding: 1rem;
  margin: 1rem;
  border: none;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.admin-il-inquiry-list {
  border: none;
}

.admin-il-inquiry-list-item {
  border: none;
  margin-top: 5px;
}

.admin-il-inquiry-list-column {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.admin-il-inquiry-list-header {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.admin-il-inquiry-list-content {
  padding: 1rem 2rem;
  background-color: white;
  transition: max-height 0.3s ease;
}

.admin-il-column {
  flex: 1;
  padding: 0.5rem;
  text-align: center; /* 가운데 정렬 */
}

.admin-il-column.admin-il-id {
  flex: 1;
}

.admin-il-column.admin-il-category {
  flex: 2;
}

.admin-il-column.admin-il-title {
  flex: 12;
}

.admin-il-column.admin-il-nickname {
  flex: 2;
}

.admin-il-column.admin-il-date {
  flex: 2;
}

.admin-il-button-container {
  margin-top: 10px;
}

.admin-il-action-button {
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-il-action-button:hover {
  background-color: #0056b3;
}

.admin-il-column.admin-il-responder {
  flex: 2; /* 기존 flex 값에서 변경 가능 */
  padding: 5px;
}

.admin-il-column.admin-il-responseDate {
  flex: 2; /* 기존 flex 값에서 변경 가능 */
  padding: 5px;
}

.admin-il-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.admin-il-pagination-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.admin-il-pagination-button.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.admin-il-pagination-button:hover:not(.active) {
  background-color: #e0e0e0;
}

.admin-il-pagination-button:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

.admin-il-pagination-button:not(:disabled):active {
  background-color: #0056b3;
  color: white;
}

.admin-il-search-container {
  text-align: center;
}

.admin-il-search-container select,
.admin-il-search-container input[type='text'] {
  padding: 8px;
  margin-right: 10px;
}

.admin-il-search-container select {
  width: 150px;
}

.admin-il-search-container button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  padding: 9px 15px;
}

.admin-il-search-container button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.admin-il-search-container button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.admin-il-search-container input[type='text'] {
  width: 300px; /* 너비를 300픽셀로 설정 */
  height: 40px; /* 높이를 40픽셀로 설정 */
  padding: 8px; /* 내부 여백을 8픽셀로 설정 */
  border: 1px solid #ccc; /* 테두리 색상 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  font-size: 16px; /* 글자 크기 설정 */
}

.admin-il-search-container select {
  width: 180px; /* 너비를 300픽셀로 설정 */
  height: 40px; /* 높이를 40픽셀로 설정 */
  padding: 8px; /* 내부 여백을 8픽셀로 설정 */
  border: 1px solid #ccc; /* 테두리 색상 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  font-size: 16px; /* 글자 크기 설정 */
}
