.admin-il-inquiry-list-container {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.admin-il-inquiry-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.admin-il-inquiry-list-item {
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  margin-top: 5px;
  border-radius: 4px;
}

.admin-il-inquiry-list-column {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
}

.admin-il-inquiry-list-header {
  display: flex;
  padding: 10px;
  cursor: pointer;
  background-color: #e9ecef;
  font-weight: bold;
}

.admin-il-inquiry-list-content {
  padding: 10px;
  background-color: #fff;
  transition: max-height 0.3s ease;
}

.admin-il-column {
  font-weight: bold;
  flex: 1;
  padding: 5px;
  text-align: center; /* 가운데 정렬 */
}

.admin-il-column.admin-il-id {
  flex: 1;
}

.admin-il-column.admin-il-category {
  flex: 1;
}

.admin-il-column.admin-il-title {
  flex: 16;
}

.admin-il-column.admin-il-nickname {
  flex: 2;
}

.admin-il-column.admin-il-date {
  flex: 2;
}

.admin-il-button-container {
  margin-top: 10px;
}

.admin-il-action-button {
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-il-action-button:hover {
  background-color: #0056b3;
}

.admin-il-column.admin-il-responder {
  flex: 2; /* 기존 flex 값에서 변경 가능 */
  padding: 5px;
}

.admin-il-column.admin-il-responseDate {
  flex: 2; /* 기존 flex 값에서 변경 가능 */
  padding: 5px;
}
