.admin-io-inquiry-order-container {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.admin-io-inquiry-order-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.admin-io-inquiry-order-item {
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  margin-top: 5px;
  border-radius: 4px;
}

.admin-io-inquiry-order-column {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
}

.admin-io-inquiry-order-header {
  display: flex;
  padding: 10px;
  cursor: pointer;
  background-color: #e9ecef;
  font-weight: bold;
}

.admin-io-inquiry-order-content {
  padding: 10px;
  background-color: #fff;
  transition: max-height 0.3s ease;
}

.admin-io-column {
  font-weight: bold;
  flex: 1;
  padding: 5px;
  text-align: center; /* 가운데 정렬 */
}

.admin-io-column.admin-io-id {
  flex: 1;
}

.admin-io-column.admin-io-category {
  flex: 1;
}

.admin-io-column.admin-io-title {
  flex: 16;
}

.admin-io-column.admin-io-nickname {
  flex: 2;
}

.admin-io-column.admin-io-date {
  flex: 2;
}

.admin-io-button-container {
  margin-top: 10px;
}

.admin-io-action-button {
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-io-action-button:hover {
  background-color: #0056b3;
}
