@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* MypageComponent */

#div_headerHeight{
    /* width: 100%; */
    height: 100px;
}

#mypage_col_001{
    width: 300px;
}

/* MypageSidenavComponent */

.ml-40{
    margin-left: 40px;
}

#mypage_sidenav {
    font-family: "Paperlogy-3Light";
    width: 250px;
    height: 1000px;
}

#mypage_sidenav_mypage{
    font-family: "Paperlogy-4Regular";
    font-weight: bolder;
    font-size: 23px;
    padding-left: 15px;
}

#mypage_sidenav_bigmenu{
    font-family: "Paperlogy-4Regular";
    color: black !important;
    margin-left: '20px';
    font-weight: bolder;
}

#mypage_sidenav_smenu{
    font-weight: 600;
}

#mypage_sidenav .nav-link {
    transition: color 0.3s ease; 
}

#mypage_sidenav .nav-link:hover {
    color: #f4890a; 
}

/* MemberInfoCardComponent */

#card_memberInfo {
    font-family: "PretendardVariable";
    width: 400px;
    height: 180px;
    border: 1px solid #ddd; 
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

#card_memberInfo .card-title {
    font-size: 27px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

#span_welcome {
    font-size: 27px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 100;
    margin-top: 5px;
}

#card_memberInfo .card-text {
    font-size: 20px;
    font-weight: bolder;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

#card_memberInfo .card-text strong {
    color: #f39c12; 
}

#card_memberInfo .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#card_toPlist, #card_toSlist{
    transition: color 0.3s, transform 0.2s; 
}

#card_toPlist:hover, #card_toSlist:hover {
    color: #f39c12; 
}

/* MemberPointCardComponent */

#card_memberPointInfo{
    font-family: "PretendardVariable";
    width: 400px;
    height: 180px;
}

#card_memberPointInfo {
    font-weight: bold;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px;
    background-color: #f9f9f9; 
}

#card_memberPointInfo .card-text {
    font-size: 25px; 
    color: #333; 
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
}

#card_memberPointInfo .card-text strong {
    color: #f39c12; 
}

#btn_pCharge, #btn_pPayback {
    background-color: #f1c40f; 
    border: 1px solid #f1c40f;
    color: rgb(26, 26, 73);
    font-size: 16px; 
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s; 
}

#btn_pCharge:hover, #btn_pPayback:hover {
    background-color: #f39c12; 
    border-color: #f39c12; 
    color:white;
    transform: scale(1.05); 
}

.mx-3 {
    margin-right: 15px;
    margin-left: 15px;
}
  
/* MypagePurchaseListComponent */

#h3_purListTitle{
    font-family: "PretendardVariable";
    font-weight: bold;
    font-size: 23px;
    background-color: #f6c3b23f;
    height: 50px;
    width: 970px;
    margin-top: 40px;
    padding-left: 40px; 
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#col_purList {
    padding: 5px; 
    border-bottom: 1px solid gray;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#col_purListTitle{
    padding: 5px; 
    border-bottom: 1px solid gray;
    font-family: 'Noto Sans KR', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 80px;
    font-size: 15px;
    overflow: hidden;
}

#btn_purConfirm{
    /* font-family: "CookieRun-Regular", sans-serif !important; */
    font-family: "Paperlogy-3Light";
    font-size: 15px;
}

#purListTitle {
    /* font-family: "CookieRun-Regular", sans-serif !important; */
    font-family: "Paperlogy-3Light";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

#img_purListThumbnail {
    width: 80px; 
    height: 80px; 
    margin-bottom: 5px;
    margin-left: 20px;
}

/* MypageSalesListComponent */

#h3_salListTitle{
    font-family: "PretendardVariable";
    font-weight: bold;
    font-size: 25px;
    background-color: #f6c3b23f;
    height: 50px;
    width: 970px;
    margin-top: 20px;
    /* margin-left: 220px; */
    padding-left: 40px; 
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#col_salList{
    padding: 5px; 
    border-bottom: 1px solid gray;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#col_salListTitle{
    padding: 5px; 
    border-bottom: 1px solid gray;
    font-family: 'Noto Sans KR', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 80px;
    font-size: 15px;
    overflow: hidden;
}

#btn_salConfirm{
    /* font-family: "CookieRun-Regular", sans-serif !important; */
    font-family: "Paperlogy-3Light";
    font-size: 15px;
}

#salListTitle {
    /* font-family: "CookieRun-Regular", sans-serif !important; */
    font-family: "Paperlogy-3Light";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

#img_salListThumbnail {
    width: 80px; 
    height: 80px; 
    margin-bottom: 5px;
    margin-left: 20px;
}

/* MypagePointChargeComponent */

.containerPCharge{
    font-family: "PretendardVariable";
    width: 100%;
}

#h1_pointTitle{
    font-family: "Paperlogy-3Light";
    font-weight: bold;
    margin-top: -10px;
}

#div_pointInfo{
    margin-top: 20px;
    font-size: 20px;
    /* margin-bottom: 50px; */
}

#div_pointInfo2{
    font-size: 20px;
    margin-bottom: 50px;
}

#div_pointData{
    display: flex;
    justify-content: start;
    font-size: 25px;
}

#span_point {
    font-weight: bold;
}

#span_p{
    font-weight: bold;
    color: #FFB800;
}

#div_pNum{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#span_btnP{
    font-weight: bold;
    color: #FFB800;
}

#button_pointAmt {
    border: 2px solid #FFB800;
    color: #000435; 
}
#button_pointAmt:hover {
    background-color: #FFB800; 
    border-color: #FFC300; 
    color: white; 
}

#button_pointAmt:hover #span_btnP {
    color: white; 
}


#div_pointTerms {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    white-space: nowrap;
    margin-top: 50px;
}


/* MypageInquiryComponent */

.containerInq{
    font-family: "PretendardVariable";
}

#div_inqInfo{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
}

#button_inqSubmit {
    background-color: #FFD54F;
    border: 2px solid #FFB800; 
    color: #000435; 
    border-radius: 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

#button_inqSubmit:hover {
    background-color: #FFC300;
    color: white; 
}

/* MypageInquiryListComponent */

.containerInqList{
    font-family: "PretendardVariable";
}

#h1_inqListTitle{
    margin-bottom: 50px;
}

#button_inqSearchDate{
    background-color: #FFD54F;
    border: 2px solid #FFB800; 
    color: #000435; 
}

.inqListTab {
    background-color: transparent; 
    color: inherit; 
}

.inqListTab:hover {
    background-color: transparent; 
    color: #FFB800; 
}

.inqListTab.active {
    background-color: transparent; 
    color: inherit; 
}

.badge_processing {
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #ffd13bb6 !important;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge_complete{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #cff588 !important;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MypageInquiryAnsComponent */

#h1_inqAnsTitle{
    margin-bottom: 50px;
}

#div_inqAns{
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 5px 5px 5px 10px;
}

/* MypagePlistPagingComponent */

#container_purListPaging {
    margin-bottom: 1rem;
    width: 1100px;
}

#col_purListPaging {
    padding: 5px; 
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#row_purListPaging{
    border-bottom: 1px solid gray;
    width: 970px;
}

#col_purListPagingTitle{
    padding: 5px; 
    font-family: 'Noto Sans KR', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#purListPagingTitle {
    font-family: "PretendardVariable";
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}


#img_purListPagingThumbnail {
    width: 80px; 
    height: 80px; 
    margin-bottom: 5px;
    margin-left: 20px;
    object-fit: cover;
}

#img_purListPagingBadge{
    width: 100px;
}

#btn_purListPagingConfirm {
    font-family: "CookieRun-Regular", sans-serif !important;
    font-size: 15px;
}

#pagination_purListPaging {
    display: flex; 
    justify-content: center; 
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 150px;
    color: black !important;
}

#pagination_purListPaging .page-link {
    color: #000; 
    background-color: #fff;
    border: 1px solid #ccc; 
}

#pagination_purListPaging .page-item.active .page-link {
    z-index: 1;
    color: #555;
    font-weight: bold;
    background-color: #fbf1a2;
    border-color: #ccc;
}

#pagination_purListPaging .page-link:focus, 
#pagination_purListPaging .page-link:hover {
    color: #000;
    background-color: #fafafa; 
    border-color: #ccc;
}

/* MypageMemberInfoChangeComponent */

#container_info{
    font-family: "PretendardVariable";
}

#h1_infoTitle{
    margin-bottom: 50px;
}

#button_infoCheckPw {
    background-color: #ffe135; 
    border: none;
    color: #333; 
    transition: background-color 0.3s ease; 
}

#button_infoCheckPw:hover {
    background-color: #FFB800; 
}

#button_infoSubmit {
    background-color: #ffe135; 
    border: none;
    color: #333; 
    transition: background-color 0.3s ease; 
}

#button_infoSubmit:hover {
    background-color: #FFB800; 
}

#button_infoFindAddr {
    background-color: #ffe135; 
    border: none;
    color: #333; 
    transition: background-color 0.3s ease; 
}

#button_infoFindAddr:hover {
    background-color: #FFB800; 
}

/* MypageDeleteAccountComponent */

#button_accDelete{
    background-color: rgba(255, 75, 75, 0.849);
    border: none;
    color: #333; 
}