* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* font-family: 'Jua', sans-serif; */
}

@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* import .ttf font */
@font-face { 
  font-family: "Paperlogy-3Light";
  src: url("../src/component/assets/fonts/Paperlogy-3Light.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { 
  font-family: "Paperlogy-2ExtraLight";
  src: url("../src/component/assets/fonts/Paperlogy-2ExtraLight.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { 
  font-family: "Paperlogy-4Regular";
  src: url("../src/component/assets/fonts/Paperlogy-4Regular.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { 
  font-family: "PretendardVariable";
  src: url("../src/component/assets/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: normal;
} 